:root {
--white-color: #ffffff;
--black-color: #000000;
--primary-bg-color:#2F303A;
--secondary-bg-color: #F5F4FA;
--accent-color: #2196F3;
--primary-text-color: #212121;
--secondary-text-color: #757575;
--thirdy-text-color: rgba(255, 255, 255, 0.6);
}

/* Глобальні стилі */

body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Стилі шапки */
/* Логотип */

.logo {
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-main {
    color: var(--black-color);
}

/* Навігація */

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Контакти */

.contacts-link {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Стилі головної сторінки */
/* Вітання і замовлення */

.hero {
    background-color: var(--primary-bg-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-main {
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
}

.button-main:hover,
.button-main:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Наші переваги */

.benefits-item {
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {
    color: var(--secondary-text-color);
    line-height: 1.71;
}

/* Чим ми займаємося */

.title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Наша кломанда */

.team {
    background-color: var(--secondary-bg-color);
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-prof {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

/* Підвал */

.logo-foot {
    color: var(--white-color);
}

.foot {
    background-color: var(--primary-bg-color);
}

.location-address {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.location-address:hover,
.location-address:focus {
    color: var(--accent-color);
}

.location-link {
    color: var(--thirdy-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.location-link:hover,
.location-link:focus {
    color: var(--accent-color);
}

/* Портфоліо */

.button {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}

.button:hover,
.button:focus,
.button:active {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.kind-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.kind {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}